<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ptpl.mapper.FsInterFaceRescodeMapper">
	<resultMap id="BaseResultMap" type="com.ptpl.model.FsInterFaceRescode">
		<id column="ID" property="id" jdbcType="DECIMAL" />
		<result column="RESP_CODE" property="respCode" jdbcType="VARCHAR" />
		<result column="RESP_DESC" property="respDesc" jdbcType="VARCHAR" />
		<result column="COMPANY" property="company" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, RESP_CODE, RESP_DESC, COMPANY
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.math.BigDecimal">
		select
		<include refid="Base_Column_List" />
		from FSINTERFACERESCODE
		where ID = #{id,jdbcType=DECIMAL}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
		delete from FSINTERFACERESCODE
		where ID = #{id,jdbcType=DECIMAL}
	</delete>
	<insert id="insert" parameterType="com.ptpl.model.FsInterFaceRescode">
		insert into FSINTERFACERESCODE (ID, RESP_CODE, RESP_DESC,
		COMPANY)
		values (#{id,jdbcType=DECIMAL}, #{respCode,jdbcType=VARCHAR},
		#{respDesc,jdbcType=VARCHAR},
		#{company,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.ptpl.model.FsInterFaceRescode">
		insert into FSINTERFACERESCODE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="respCode != null">
				RESP_CODE,
			</if>
			<if test="respDesc != null">
				RESP_DESC,
			</if>
			<if test="company != null">
				COMPANY,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=DECIMAL},
			</if>
			<if test="respCode != null">
				#{respCode,jdbcType=VARCHAR},
			</if>
			<if test="respDesc != null">
				#{respDesc,jdbcType=VARCHAR},
			</if>
			<if test="company != null">
				#{company,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ptpl.model.FsInterFaceRescode">
		update FSINTERFACERESCODE
		<set>
			<if test="respCode != null">
				RESP_CODE = #{respCode,jdbcType=VARCHAR},
			</if>
			<if test="respDesc != null">
				RESP_DESC = #{respDesc,jdbcType=VARCHAR},
			</if>
			<if test="company != null">
				COMPANY = #{company,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=DECIMAL}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ptpl.model.FsInterFaceRescode">
		update FSINTERFACERESCODE
		set RESP_CODE = #{respCode,jdbcType=VARCHAR},
		RESP_DESC = #{respDesc,jdbcType=VARCHAR},
		COMPANY = #{company,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=DECIMAL}
	</update>
</mapper>