<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ptpl.mapper.GfundsIntMapper">
	<resultMap id="BaseResultMap" type="com.ptpl.model.GfundsInt">
		<id column="ID" property="id" jdbcType="DECIMAL" />
		<result column="GFUNDSINTNO" property="gfundsintno" jdbcType="VARCHAR" />
		<result column="CLEARMETHOD" property="clearmethod" jdbcType="DECIMAL" />
		<result column="UGRADE" property="ugrade" jdbcType="VARCHAR" />
		<result column="MINMONEY" property="minmoney" jdbcType="FLOAT" />
		<result column="MAXMONEY" property="maxmoney" jdbcType="FLOAT" />
		<result column="QUOTA" property="quota" jdbcType="FLOAT" />
		<result column="DAYAWARDRATE" property="dayawardrate" jdbcType="FLOAT" />
		<result column="MAXCOMPENSATE" property="maxcompensate"
			jdbcType="FLOAT" />
		<result column="ISTEMPLET" property="istemplet" jdbcType="DECIMAL" />
		<result column="TID" property="tid" jdbcType="DECIMAL" />
		<result column="ISAUDIT" property="isaudit" jdbcType="DECIMAL" />
		<result column="ADDMAN" property="addman" jdbcType="VARCHAR" />
		<result column="ADDTIME" property="addtime" jdbcType="TIMESTAMP" />
		<result column="REMARK" property="remark" jdbcType="VARCHAR" />
	</resultMap>

	<insert id="insert" parameterType="com.ptpl.model.GfundsInt">
		<selectKey resultType="java.math.BigDecimal" keyProperty="id"
			order="BEFORE">
			SELECT GFUNDSINT_SEQ.NEXTVAL AS id from dual
		</selectKey>
		insert into GFUNDSINT (ID, GFUNDSINTNO, CLEARMETHOD,
		UGRADE, MINMONEY, MAXMONEY,
		QUOTA, DAYAWARDRATE, MAXCOMPENSATE,
		ISTEMPLET,TID,ISAUDIT,ADDMAN,ADDTIME,REMARK)
		values (#{id,jdbcType=DECIMAL}, #{gfundsintno,jdbcType=VARCHAR},
		#{clearmethod,jdbcType=DECIMAL},
		#{ugrade,jdbcType=VARCHAR}, #{minmoney,jdbcType=FLOAT}, #{maxmoney,jdbcType=FLOAT},
		#{quota,jdbcType=FLOAT}, #{dayawardrate,jdbcType=FLOAT},
		#{maxcompensate,jdbcType=FLOAT},
		#{istemplet,jdbcType=DECIMAL},#{tid,jdbcType=DECIMAL},#{isaudit,jdbcType=DECIMAL},
		#{addman,jdbcType=VARCHAR},#{addtime,jdbcType=TIMESTAMP},#{remark,jdbcType=VARCHAR}
		)
	</insert>

	<select id="selectByCondition" parameterType="Map" resultMap="BaseResultMap">
		select * from GFUNDSINT
		<trim prefix="where" prefixOverrides="and|or">
			<if test="id!=null and id!=''">
				id=#{id,jdbcType=DECIMAL}
			</if>
			<if test="gfundsintno!=null and gfundsintno!=''">
				and gfundsintno=#{gfundsintno,jdbcType=VARCHAR}
			</if>
			<if test="clearmethod!=null and clearmethod!=''">
				and clearmethod=#{clearmethod,jdbcType=DECIMAL}
			</if>
			<if test="ugrade!=null and ugrade!=''">
				and ugrade=#{ugrade,jdbcType=VARCHAR}
			</if>
			<if test="minmoney!=null and minmoney!=''">
				and minmoney=#{minmoney,jdbcType=FLOAT}
			</if>
			<if test="maxmoney!=null and maxmoney!=''">
				and maxmoney=#{maxmoney,jdbcType=FLOAT}
			</if>
			<if test="quota!=null and quota!=''">
				and quota=#{quota,jdbcType=FLOAT}
			</if>
			<if test="dayawardrate!=null and dayawardrate!=''">
				and dayawardrate=#{dayawardrate,jdbcType=FLOAT}
			</if>
			<if test="maxcompensate!=null and maxcompensate!=''">
				and maxcompensate=#{maxcompensate,jdbcType=FLOAT}
			</if>
			<if test="istemplet!=null and istemplet!=''">
				and istemplet=#{istemplet,jdbcType=DECIMAL}
			</if>
			<if test="tid!=null and tid!=''">
				and tid=#{tid,jdbcType=DECIMAL}
			</if>
			<if test="isaudit!=null and isaudit!=''">
				and isaudit=#{isaudit,jdbcType=DECIMAL}
			</if>
			<if test="addman!=null and addman!=''">
				and ADDMAN=#{addman,jdbcType=VARCHAR}
			</if>
			<if test="addtime!=null and addtime!=''">
				and ADDTIME=#{addtime,jdbcType=TIMESTAMP}
			</if>
			<if test="remark!=null and remark!=''">
				and REMARK=#{remark,jdbcType=VARCHAR}
			</if>
		</trim>
		order by id asc
	</select>

	<update id="update" parameterType="com.ptpl.model.GfundsInt">
		update GFUNDSINT
		<trim prefix="set" suffixOverrides=",">
			<if test="gfundsintno!=null">
				GFUNDSINTNO=#{gfundsintno,jdbcType=VARCHAR},
			</if>
			<if test="clearmethod != null">
				CLEARMETHOD = #{clearmethod,jdbcType=DECIMAL},
			</if>
			<if test="ugrade != null">
				UGRADE = #{ugrade,jdbcType=VARCHAR},
			</if>
			<if test="minmoney != null">
				MINMONEY = #{minmoney,jdbcType=FLOAT},
			</if>
			<if test="maxmoney != null">
				MAXMONEY = #{maxmoney,jdbcType=FLOAT},
			</if>
			QUOTA = #{quota,jdbcType=FLOAT},
			DAYAWARDRATE = #{dayawardrate,jdbcType=FLOAT},
			MAXCOMPENSATE = #{maxcompensate,jdbcType=FLOAT},
			<if test="istemplet != null">
				ISTEMPLET = #{istemplet,jdbcType=DECIMAL},
			</if>
			<if test="tid != null">
				TID = #{tid,jdbcType=DECIMAL},
			</if>
			<if test="isaudit != null">
				ISAUDIT = #{isaudit,jdbcType=DECIMAL},
			</if>
			<if test="addman != null">
				ADDMAN = #{addman,jdbcType=VARCHAR},
			</if>
			<if test="addtime != null">
				ADDTIME = #{addtime,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				REMARK = #{remark,jdbcType=VARCHAR}
			</if>
		</trim>
		where ID = #{id}
	</update>

	<delete id="delete" parameterType="java.math.BigDecimal">
		delete from GFUNDSINT where id=#{id}
	</delete>

	<!-- 根据站岗编号获取所有的信息 -->
	<select id="getGfundsIntByno">
		select * from GFUNDSINT t where GfundsIntNo=#{gfundsintno,jdbcType=VARCHAR}
	</select>

	<!-- 根据tid查询信息 -->
	<select id="selectGfundBytid" resultMap="BaseResultMap">
		select * from GFUNDSINT t where t.tid=#{tid,jdbcType=DECIMAL}
	</select>


	<!-- 根据tid查询等级信息 -->
	<select id="selectGradeByTid" resultType="java.lang.String">
		select DISTINCT (UGRADE) from GFUNDSINT t where t.tid=#{tid,jdbcType=DECIMAL}
	</select>
</mapper>