<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ptpl.mapper.SMSSendRecordMapper">
	<resultMap id="BaseResultMap" type="com.ptpl.model.SMSSendRecord">
		<result column="ID" property="id" jdbcType="DECIMAL" />
		<result column="BASEID" property="baseid" jdbcType="DECIMAL" />
		<result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
		<result column="VERCODE" property="vercode" jdbcType="VARCHAR" />
		<result column="SENDTIME" property="sendtime" jdbcType="TIMESTAMP" />
		<result column="SMSCONTENT" property="smscontent" jdbcType="VARCHAR" />
		<result column="SENDTYPE" property="sendtype" jdbcType="DECIMAL" />
		<result column="REISSUETIME" property="reissuetime" jdbcType="TIMESTAMP" />
		<result column="REMARK" property="remark" jdbcType="VARCHAR" />
		<result column="USERNAME" property="username" jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="DECIMAL"/>
		<result column="SMSCCOMPANY" property="smsccompany" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="Base_Column_List">
		ID,BASEID,MOBILE,VERCODE,SENDTIME,SMSCONTENT,SENDTYPE,REISSUETIME,REMARK,USERNAME,STATUS,SMSCCOMPANY
	</sql>
	  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from SMSSENDRECORD
    where ID = #{id,jdbcType=DECIMAL}
  </select>
	<select id="findSMSSendRecords" parameterType="com.ptpl.model.SMSSendRecord"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"></include>
		from SMSSENDRECORD
		<where>
			<if test="username != null and username != ''">
				USERNAME like '%${username}%'
			</if>
		</where>
		order by id desc
	</select>
	<!-- 数据添加 -->
	<insert id="insert" parameterType="com.ptpl.model.SMSSendRecord">
		<selectKey order="BEFORE" keyProperty="id" resultType="java.math.BigDecimal">
			SELECT SMSSENDRECORD_SEQ.NEXTVAL AS id from dual
		</selectKey>
		insert into SMSSENDRECORD (ID, BASEID, MOBILE,
		VERCODE, SENDTIME, SMSCONTENT,
		SENDTYPE, REISSUETIME, REMARK,USERNAME,STATUS,SMSCCOMPANY
		)
		values (#{id,jdbcType=DECIMAL}, #{baseid,jdbcType=DECIMAL},
		#{mobile,jdbcType=VARCHAR},
		#{vercode,jdbcType=VARCHAR}, #{sendtime}, #{smscontent,jdbcType=VARCHAR},
		#{sendtype,jdbcType=DECIMAL}, #{reissuetime},
		#{remark,jdbcType=VARCHAR},#{username,jdbcType=VARCHAR},#{status,jdbcType=DECIMAL}
		,#{SMSCCOMPANY,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.ptpl.model.SMSSendRecord">
		<selectKey order="BEFORE" keyProperty="id" resultType="java.math.BigDecimal">
			SELECT SMSSENDRECORD_SEQ.NEXTVAL AS id from dual
		</selectKey>
		insert into SMSSENDRECORD
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="baseid != null">
				BASEID,
			</if>
			<if test="mobile != null">
				MOBILE,
			</if>
			<if test="vercode != null">
				VERCODE,
			</if>
			<if test="sendtime != null">
				SENDTIME,
			</if>
			<if test="smscontent != null">
				SMSCONTENT,
			</if>
			<if test="sendtype != null">
				SENDTYPE,
			</if>
			<if test="reissuetime != null">
				REISSUETIME,
			</if>
			<if test="remark != null">
				REMARK,
			</if>
			<if test="username != null">
				USERNAME,
			</if>
			<if test="status != null">
				STATUS,
			</if>
			<if test="smsccompany != null">
				SMSCCOMPANY,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=DECIMAL},
			</if>
			<if test="baseid != null">
				#{baseid,jdbcType=DECIMAL},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=VARCHAR},
			</if>
			<if test="vercode != null">
				#{vercode,jdbcType=VARCHAR},
			</if>
			<if test="sendtime != null">
				#{sendtime},
			</if>
			<if test="smscontent != null">
				#{smscontent,jdbcType=VARCHAR},
			</if>
			<if test="sendtype != null">
				#{sendtype,jdbcType=DECIMAL},
			</if>
			<if test="reissuetime != null">
				#{reissuetime},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=DECIMAL},
			</if>
			<if test="smsccompany != null">
				#{smsccompany,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	  <update id="updateByPrimaryKeySelective" parameterType="com.ptpl.model.SMSSendRecord" >
    update SMSSENDRECORD
    <set >
      <if test="baseid != null" >
        BASEID = #{baseid,jdbcType=DECIMAL},
      </if>
      <if test="mobile != null" >
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="vercode != null" >
        VERCODE = #{vercode,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null" >
        SENDTIME = #{sendtime},
      </if>
      <if test="smscontent != null" >
        SMSCONTENT = #{smscontent,jdbcType=VARCHAR},
      </if>
      <if test="sendtype != null" >
        SENDTYPE = #{sendtype,jdbcType=DECIMAL},
      </if>
      <if test="reissuetime != null" >
        REISSUETIME = #{reissuetime},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="smsccompany != null" >
        SMSCCOMPANY = #{smsccompany,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ptpl.model.SMSSendRecord" >
    update SMSSENDRECORD
    set BASEID = #{baseid,jdbcType=DECIMAL},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      VERCODE = #{vercode,jdbcType=VARCHAR},
      SENDTIME = #{sendtime},
      SMSCONTENT = #{smscontent,jdbcType=VARCHAR},
      SENDTYPE = #{sendtype,jdbcType=DECIMAL},
      REISSUETIME = #{reissuetime},
      REMARK = #{remark,jdbcType=VARCHAR},
      USERNAME = #{username,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      SMSCCOMPANY = #{smsccompany,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>